@import "../../core/variables";
@font-face {
  font-family: "HARRYP__.TTF";
  src: url("../../../fonts/HARRYP__.TTF") format("truetype");
}

.mainCharacterDetail {
  width: 80%;
  height: 450px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 700px;
    height: 50%;
  }
  @media (min-width: 1024px) {
    width: 800px;
    padding: 20px;
  }
  @media (min-width: 1400px) {
    margin: 80px auto;
  }
  .link {
    color: $mainFontColor;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
  }
  .characterDetailContainer {
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 40px 0;
    background-color: $gryffyndorMainColor;
    box-shadow: -10px 15px 10px black;

    @media (min-width: 400px) {
      
    }

    @media (min-width: 768px) {
      height: 100%;
      flex-direction: row;
      align-items: flex-start;
      padding: 40px 30px;
    }

    &__characterWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #c8963fb9;
      width: 80%;
      padding: 25px;
      border-radius: 30px;
      margin-top: 20px;

      @media (min-width: 768px) {
        width: 60%;
        padding: 20px;
        border-radius: 30px;
        margin: 0;
      }
    }

    &__name {
      font-family: "HARRYP__.TTF", sans-serif;
      font-size: 35px;
      letter-spacing: 2px;
      margin: 0 10px 10px 10px;
      @media (min-width: 768px) {
        font-size: 55px;
        letter-spacing: 2px;
        margin: 5px 0 20px 0;
      }
    }
    &__detailsList {
      &--detailInfo {
        font-size: 20px;
        color: #ddd0c0;
        letter-spacing: 0.5px;
        @media (min-width: 768px) {
          font-size: 25px;
          line-height: 50px;
        }
      }
    }

    &__imageContainer {
      display: flex;
      max-width: 140px;
      @media (min-width: 400px) {
        max-width: 180px;
      
      }

      @media (min-width: 768px) {
        min-width: 150px;
        width: 200px;
        margin-right: 70px;
      }
      &--image {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 0 8px 3px $darkYellowGryffyndor;
      }
    }
  }
}

.fas {
  margin-left: 10px;
  color: black;
}
.fa-heartbeat {
  color: $lightRedGryffyndor;
}
.specieIcon {
  width: 35px;
  margin-left: 10px;
}

.alternateName {
  font-family: $cardsTitleFont;
  color: $mainRedGryffyndor;
  font-weight: bold;
  display: block;
}
