@import "../core/variables";
.pageNotFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../images/dementors.jpg) center no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    &__title{
        color: $mainFontColor;
    }
    &__link{
        display: flex;
        flex-direction: column-reverse;
        color: $mainFontColor;
    }
}