@import "./core/reset";
@import "./core/variables";

.app {
  height: 100%;
  min-height: 100vh;
  background-color: rgb(101, 101, 138);
  //background-color: rgb(100, 25, 18);
  font-family: $mainFontFamily;
  padding: 40px 20px;
  @media (min-width: 768px) {
    padding: 40px;
  }
}

.main{
  width: 100%;
  min-height: 68vh;
  color: $mainFontColor;
  display: flex;
  flex-direction: column;
}
