.form {
  width: 100%;
  display: flex;
 // flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
  
  @media (min-width: 768px) {
 
  }
  @media (min-width: 1000px) {
      
}
  @media (min-width: 1200px) {
    
  }

  &__nameAndHouseFilter{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    @media (min-width: 768px) {
    width: 600px;
    height: 50px;
    margin: 0;
  }
  }
  &__genderFilter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
   margin-right: 10px;
    @media (min-width: 500px) {
      
    }
    @media (min-width: 768px) {
      margin: 0 10px 0 30px;
    }
   
    @media (min-width: 1200px) {
     
    }
  }
}
