@import "../../core/variables";
.form__houseLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: $mainYellowGryffyndor;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 25px;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 10px;
  }
  &--select {
    width: 80%;
    background-color: $mainColor;
    color: $secondaryFontColor;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    border: 1px solid $mainColor;
    border-radius: 5px;
    margin-top: 5px;
    @media (min-width: 768px) {
      font-size: 16px;
      width: 55%;
      margin-left: 50px;
    }
  }
}
