@import "../../core/variables";
.sortFilter__label {
  display: flex;
  // width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $mainYellowGryffyndor;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  &--input {
    margin-left: 15px;
    accent-color: #c8963f;
  }
}
