@import "../../core/variables";
.statusFilter__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $mainYellowGryffyndor;
  font-size: 12px;
  letter-spacing: 1px;
  @media (min-width: 768px) {
    font-size: 16px;
    text-transform: uppercase;
  }

  &--input {
    margin-left: 15px;
    accent-color: #c8963f;
    cursor: pointer;
  }
}
